/* Colors */
/*
Green: 37CE81
Blue: 375D81
Red: FF5850
Gray: 333333
*/

/* Universal */

body {
    color: #333333;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-family: open-sans;
    font-weight: 300;
    font-size: 2.5rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-family: open-sans;
    font-weight: 300;
    font-size: 2rem;
}

h5 {
    font-family: open-sans;
    font-weight: 300;
    font-size: 1.2rem;
}

.green {
    color: white;
}

@media all and (min-width: 40.063rem) {
    .margin-top {
        margin-top: 70px;
    }
 
    .img-mac {
        margin-top: -40px;
    }
}

@media all and (max-width: 40.063rem) {
    .padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}


/* Section 1 */

#section-1 {
    background: url(../img/bg1.jpg) left top no-repeat;
    background-size: 1500px;
    border-bottom-style: groove;
    border-bottom-width: 7px;
    border-bottom-color: white;
}

@media all and (min-width: 40.063rem) {
    #section-1 {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

/* Section 2 */

/* Section 3 */
#section-3 {
    background: #f7f7f7;
    padding-bottom: 70px;
}

/* Section 4 */
.icons i {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.small-margin {
 width: 100px;
}

/* Footer */
footer {
    background: #f7f7f7;
    color: white;
}

footer h5,
footer p {
    color: #848484;
    margin-top: 14px;
}

.bottom-nav li {
    text-decoration: none;
    text-align: left;
    list-style: none;
    color: #848484;
}

.bottom-nav a {
    color: #848484;
    text-decoration: underline;
}

/* Section 5*/
#section-5 {
    background: #f7f7f7;
}

#chart {
    margin-top: 0px;
}

@media all and (max-width: 40.063rem) {
    #section-5 {
        padding-bottom: 30px;
    }
}
@media all and (min-width: 64.063rem) {
    #section-5 ul {
        margin-top: 20px;
    }
    
    #section-5 li {
        line-height: 40px;
    }
}

@media all and (min-width: 40.063rem) {
    #section-5 ul {
        margin-left: 70px;
    }
    
    #section-5 h4 {
        margin-left: 50px;
    }
}

#section-6 h5 {
    font-size: 1.4em
}

#section-6 a {
    color: white;
}




/* About Page */
.section-team .row {
    border-style: solid;
    border-color: #FF5850;
    border-width: 3px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* Hiring page */
.section-2h {
    background-color: #f7f7f7;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}